* {
	border: none;
	border-radius: 0;
	font-family: "Cartograph CF";
	font-size: 15px;
	min-height: 0;
	color: #@base02@;
}



#custom-launch_wofi,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#window,
#clock,
#cpu,
#memory,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#custom-powermenu,
#backlight {
	font-style: italic;
	padding: 2px 5px;
	margin: 5px 5px;
	border-radius: 10px;
}

#tray {
	background-color: #@base0F@;
	color: shade(#@base0F@, 0.8);
	box-shadow: @shadow_x@ @shadow_y@ 0px shade(#@base0F@, 0.8);
	padding-right: 5px;
}

#custom-powermenu {
	background: #@base0E@;
	box-shadow: @shadow_x@ @shadow_y@ 0px shade(#@base0E@, 0.8);
}

#temperature.critical {
	color: #eba0ac;
}

/* this is the active window thing next to workspace switcher */
#window {
	background: #@base04@;
	box-shadow: @shadow_x@ @shadow_y@ 0px shade(#@base04@, 0.8);
	margin-left: 10px;
	padding-right: 5px;
	padding-left: 5px;
}

#workspaces {
	background: #@base04@;
	box-shadow: @shadow_x@ @shadow_y@ 0px shade(#@base04@, 0.8);
	margin-left: 10px;
	padding-right: 5px;
	padding-left: 5px;
}

#workspaces button {
	padding: 2px 5px;
	margin-right: 5px;
}

#workspaces button.active {
}

#workspaces button.focused {
}

#workspaces button.urgent {
}

#workspaces button:hover {
}

#custom-power_profile {
	color: #a6e3a1;
}

window#waybar {
	background: #@base02@;
	box-shadow: 0 @shadow_y@ 0px shade(#@base02@, 0.8);
	margin-left: 60px;
	margin-right: 60px;
}

#clock {
	background: #@base09@;
	box-shadow: @shadow_x@ @shadow_y@ 0px shade(#@base09@, 0.8);
}

#pulseaudio {
	background: #@base0B@;
	box-shadow: @shadow_x@ @shadow_y@ 0px shade(#@base0B@, 0.8);
}
#cpu {
	background: #@base0A@;
	box-shadow: @shadow_x@ @shadow_y@ 0px shade(#@base0A@, 0.8);
}

#memory {
	background: #@base0D@;
	box-shadow: @shadow_x@ @shadow_y@ 0px shade(#@base0D@, 0.8);
}

#battery {
	background: #@base0F@;
	box-shadow: @shadow_x@ @shadow_y@ 0px shade(#@base0F@, 0.8);
}

/* 
  Included for nix-colors substitution compatibility 
  @base00@ @base01@ @base02@ @base03@ @base04@ @base05@ @base06@ @base07@
  @base08@ @base09@ @base0A@ @base0B@ @base0C@ @base0D@ @base0E@ @base0F@
*/
